<a href="https://colab.research.google.com/github/tr2512/IT1110E/blob/main/IT1110E_homework/Lec_5_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Question 1

In [ ]:
def is_float(x):
    for i in x:
        if i.replace('.','',1).isdigit():
            return float(i)

def sort_tuple(tpl):
    tpl.sort(reverse = True, key = is_float)
    return tpl
sort_tuple([('lucky', '18.265'), ('nikhil', '14.107'), ('akash', '24.541'), ('anand', '4.256'), ('gaurav', '10.365')])
# Solution is wrong (unknown reason)

[('akash', '24.541'),
 ('lucky', '18.265'),
 ('nikhil', '14.107'),
 ('gaurav', '10.365'),
 ('anand', '4.256')]

In [ ]:
def sort_tuple(tup):
    tup.sort(key = lambda x: float(x[1]), reverse = True)
    return tup 
sort_tuple([('lucky', '18.265'), ('nikhil', '14.107'), ('akash', '24.541'), ('anand', '4.256'), ('gaurav', '10.365')])

[('akash', '24.541'),
 ('lucky', '18.265'),
 ('nikhil', '14.107'),
 ('gaurav', '10.365'),
 ('anand', '4.256')]

### Problem 2

In [ ]:
def sum_and_count(inp):
    sums = []
    counts = []
    for i in inp:
        if type(i) is int:
            sums.append(i)
            counts.append(1)
        else:
            sums.append(sum(i))
            counts.append(len(i))
    return sums, counts

### Problem 3

In [ ]:
def tup2num(tup):
    x =''
    for i in tup:
        x += str(i)
    return x

### Problem 4

In [ ]:
def closest_tuple(tupple_list, query, k):
    a = query[k-1]
    min = abs(a)
    for i in tupple_list:
        u = abs(i[k-1]-a)
        if u < min:
            min = u
            j   = i
    return j

### Problem 5

In [ ]:
list_1 = eval(input())
list_2 = eval(input())
a = []
b = []
for i in list_1:
    a.append(sorted(i))
for j in list_2:
    b.append(sorted(j))
count = 0
for i in a:
    for j in b:
        if i == j:
            count += 1
            break
print(count)